@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Mooli&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.welcomeText {
   
            font-family: "Fuzzy Bubbles", sans-serif;
            font-weight: 900;
            font-style: normal;
        }
